<div class="container">
  <div class="singleMenu">
  <h1>{{caption()}}</h1>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerUpdateForm">

      @if (modalita() === 'create') {
      <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" />
    </mat-form-field>
    }

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" placeholder="user@example.com" />
    </mat-form-field>

    @if (modalita() === 'update') {
      <div class="checkbox-container">
        <mat-checkbox formControlName="changePassword">Desidero modificare la password</mat-checkbox>
      </div>
    }

    @if (showPasswordFields()) {
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="introdurre password" autocomplete="new-password"/>
    @if (registerUpdateForm.get('password')?.hasError('required')) {
        <mat-error>Password obbligatoria</mat-error>
      }
      </mat-form-field>
     
      <mat-form-field appearance="fill">
        <mat-label>Conferma Password</mat-label>
        <input matInput type="password" formControlName="passwordControl" placeholder="conferma password" autocomplete="new-password"/>
        @if (registerUpdateForm.get('passwordControl')?.hasError('required')) {
        <mat-error>Conferma obbligatoria</mat-error>
      }
      </mat-form-field>
      
      @if (registerUpdateForm.hasError('passwordsMismatch')) {
        <p style="color: red">Le password non corrispondono</p>
      }
    }
    <mat-form-field appearance="fill">
      <mat-label>indirizzo</mat-label>
      <input matInput type="text" formControlName="indirizzo" />
    </mat-form-field>

  <!-- <p style="color: red">{{ msg() }}</p> -->
    @if (msg()) {
        <p class="error-msg">{{ msg() }}</p>
      }
    <div class="button-group">
      <button
        mat-raised-button  class="btn-primary"
        type="submit"
        [disabled]="!registerUpdateForm.valid"
      >
        {{ labelSubmit() }}
      </button>
    </div>
  </form>
  </div>
</div>
