<mat-toolbar>
    <button matIconButton [matMenuTriggerFor]="menu" class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <a mat-list-item routerLink="stock-management">
            <span matListItemTitle>Stock Management</span>
        </a>
        <a mat-list-item routerLink="ingredients-management">
            <span matListItemTitle>Ingredients Management</span>
        </a> 
        <a mat-list-item routerLink="product-management">
            <span matListItemTitle>Product Management</span>
        </a> 
    </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>