<h2 mat-dialog-title>Personalizzazione prodotto</h2>
<mat-dialog-content class="mat-typography">
    
    <div class="form-group" >
      <label for="promo">Seleziona ingredienti:</label>
      @for (couple of ingredientSelection(); track couple[0]){
        <h4 style="margin-left: 40px;">-{{ couple[0] }}-</h4>
        <ul class="item-list" style="display: flex; gap: 10px;">
          @for (option of couple[1]; track option.ingrediente){
            <li style="list-style-type: none;" [class.active]="option.selected">
            <label class="checkbox-label">
              <input type="checkbox" [checked]="option.selected" (change)="toggleSelection(option)"/>
              <span>{{ option.ingrediente.nome }}</span>
              <br>                 
              <span>${{ option.ingrediente.sovraprezzoAggiunta }}</span>
            </label>
                <div class="quantity-control">
                    @if (option.selected) {
                        <label for="quantity-{{option.ingrediente}}">Quantità:</label>
                        <input  id="quantity-{{option.ingrediente}}"
                                type="number"
                                min="1"
                                max="10"
                                [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="option.quantity"/>
                    } @else {
                        <span class="disabled-text"></span>
                    }
                </div>
            </li>
          }
        </ul>
      }      

      <div>
        <h3>Selected Summary</h3>
        @if (getSelectedItems().length === 0) {
            <p>No items selected.</p>
        } @else {
            <ul>
                @for (item of getSelectedItems(); track item.ingrediente) {
                <li>{{ item.ingrediente.nome }} x {{ item.quantity }} = ${{ (item.ingrediente.sovraprezzoAggiunta * item.quantity).toFixed(2) }}</li>
                }
            </ul>
        }
      </div>
    </div>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button matButton mat-dialog-close>Cancel</button>
    <button matButton (click)="onAddToCart()" >Add to Cart</button>
</mat-dialog-actions>