<div class="container">
  <div class="cart-card table-card">
    <h1>Gestione Utenti</h1>

    <div class="action-bar">
  <button mat-button class="btn-secondary" [routerLink]="['/dash/detail-utente-admin']" [state]="{utente: undefined}">
      <mat-icon>person_add</mat-icon>
      <span>Crea nuovo utente</span>
  </button>
  </div>

  <div class="table-wrapper">
  <table class="custom-table">
    <thead>
      <tr>
        <th style="width: 60px; padding-left: 10px !important;">Id</th>
        <th style="width: 300px;">Username</th>
        <th style="width: 80px;">Ruolo</th>
        <th style="width: 290px;">Email</th>
        <th style="width: 320px;">Indirizzo</th>
        <th style="width: 100px;">Credito</th>
      </tr>
    </thead>
    <tbody>
      @for (utente of utenti; track utente.id) {
        <tr [routerLink]="['/dash/detail-utente-admin']" [state]="{utente: utente}" class="clickable-row">
          <td><span style="display: inline-block; margin-left: 20px;">{{ utente.id }}</span></td>
          <td>{{ utente.username }}</td>
          <td>{{ utente.ruolo }}</td>
          <td>{{ utente.email }}</td>
          <td>{{ utente.indirizzo }}</td>
          <td>{{ utente.credito }}</td>
        </tr>
      }
    </tbody>
  </table>
  </div>
  </div>
</div>
