<mat-card class="bubble-card" appearance="outlined">
  <div class="bubble-img-box">
    <img [src]="product().imageUrl" [alt]="product().name">
  </div>

  <mat-card-header class="p-0 border-0">
    <mat-card-title class="bubble-card-title">
      {{ product().name }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content class="tag">
    <mat-chip-set>
      @for (tag of product().tags; track tag) {
        <mat-chip>{{ tag }}</mat-chip>
      }
    </mat-chip-set>
  </mat-card-content>

  <mat-card-content class="bubble-card-content">
    <p class="description">
      {{ product().description || 'Personalizza questo bubble tea secondo i tuoi gusti!' }}
    </p>

    <div class="card-actions">
      <div class="input-group product-qty">
        <button type="button" class="quantity-left-minus" (click)="decrement()">
          -
        </button>
        <input type="text" class="input-number" [value]="quantity()" readonly>
        <button type="button" class="quantity-right-plus" (click)="increment()">
          +
        </button>
      </div>

      <button type="button" class="btn-add" (click)="addToCart()">
        Add €{{ totalPrice() }}
      </button>
    </div>
  </mat-card-content>

  <mat-card-content class="personalizza">
    <button type="button" class="btn-customize" (click)="customizeProduct()">
      Personalizza
    </button>
  </mat-card-content>

</mat-card>