:root {
  --brand-orange: #f55200e1;
  --text-color: #f3e8e8;
}

/* 
  BUTTON TYPE 1: Orange background with White Text, Icon & Border
 */

/* Styling */
button.btn-primary.mat-mdc-raised-button {
  background-color: var(--brand-orange);
  opacity: 1;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12)
}

/* Disabled State (Form is incomplete) */
button.btn-primary.mat-mdc-raised-button:disabled {
  background-color: #f55200e1;
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

/* Ensure icon and text inside the button inherit black color */
button.btn-primary .mat-icon,
button.btn-primary .mdc-button__label {
  color: #f3e8e8;
}

/* 
  BUTTON TYPE 2: White background with Orange Text, Icon & Border
 */

 /* Styling */
button.btn-secondary.mat-mdc-raised-button {
  background-color: #ffffff;
  border: 1.5px solid var(--brand-orange);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* Ensure text and icon inside turn orange */
button.btn-secondary .mat-icon,
button.btn-secondary .mdc-button__label {
  color: var(--brand-orange);
}

/* Subtle hover effect */
button.btn-secondary.mat-mdc-raised-button:hover {
  background-color: #fff9f5;
}


/* FORM FIELDS */

/* 1. Background Fill Color (Unfocused & Focused) */
.mat-mdc-text-field-wrapper {
  background-color: #f4f4f4 !important;
  border-radius: 8px 8px 0 0 !important;
}

/* Hide Material's default background layer that causes color tinting */
.mat-mdc-form-field-focus-overlay {
  display: none !important;
}

/*  Resting Bottom Border Line */
.mdc-line-ripple::before {
  border-bottom-color: #cccccc !important; 
}

/*  Orange Focus Line, Label, and Cursor */
.mat-mdc-form-field.mat-focused .mdc-line-ripple::after {
  border-bottom-color: var(--brand-orange, #ff6b00) !important;
}

.mat-mdc-form-field.mat-focused .mdc-floating-label {
  color: var(--brand-orange, #edebe9) !important;
}

/* Text inside the input field at resting state */
.mat-mdc-form-field .mat-mdc-input-element {
  caret-color: var(--brand-orange, #ff6b00) !important;
}